body {
  background: url('../img/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.white{
	color:white;
}

.black{
	color:black;
}

.availablefiles {
  border-radius: 0.5em;
  background-color: #f1f0ef;
  padding: 1.5em;
  word-break: break-word;
  color: #4f4f4f;
}
